@model List<Restaurant>
@{
    ViewData["Title"] = "Restaurants";
}

<div class="container">
    <h1 class="display-4">Restaurants</h1>
    <p class="mt-4">
        <a class="btn btn-success"  asp-area="" asp-controller="Admin" asp-action="AddRestaurant">Add a Restaurant</a>
    </p>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col" width="10%">&nbsp;</th>
                <th scope="col" width="10%">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var restaurant in Model)
            {
                <tr>
                    <td>@restaurant.Name</td>
                    <td><a class="btn btn-primary" href="#" role="button">Edit</a></td>
                    <td><a class="btn btn-danger" href="#" role="button">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>