<div class="list-group">
    <a asp-controller="Account" asp-action="EditProfile" class="list-group-item list-group-item-action @(ViewData["ActiveAccountPage"].ToString() == "profile" ? "active" : "")">Profile</a>
    <a asp-controller="Account" asp-action="ChangePassword" class="list-group-item list-group-item-action @(ViewData["ActiveAccountPage"].ToString() == "changepassword" ? "active" : "")">Change Password</a>
    <a asp-controller="Account" asp-action="EditProfile" class="list-group-item list-group-item-action @(ViewData["ActiveAccountPage"].ToString() == "downloaddata" ? "active" : "")">Download Data</a>
    <a asp-controller="Account" asp-action="EditProfile" class="list-group-item list-group-item-action @(ViewData["ActiveAccountPage"].ToString() == "deleteaccount" ? "active" : "")">Delete Account</a>
</div>