@model wheredoyouwanttoeat2.ViewModel.ChangePassword
@{
    ViewData["Title"] = "Change Password";
    ViewData["ActiveAccountPage"] = "changepassword";
}

<div class="row">
    <div class="col-md-4">
        <partial name="_AccountSidebar" />
    </div>
    <div class="col-md-6">
        <h2>Change Password</h2>

        <form asp-action="ChangePassword" class="mt-3">
            <div class="form-group">
                <label asp-for="CurrentPassword"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
</div>