@model wheredoyouwanttoeat2.ViewModel.DownloadData
@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActiveAccountPage"] = "downloaddata";

    string[] DataFormats = new[] { "XML", "JSON" };
}
@section Scripts {
    <script type="text/javascript" src="~/js/download-data.js"></script>
}


<div class="row">
    <div class="col-md-4">
        <partial name="_AccountSidebar" />
    </div>
    <div class="col-md-6">
        <h2 class="mb-3">Download Your Data</h2>

        <partial name="_ErrorMessage" model="@Model.ErrorMessage" />

        <div class="mt-4">
            <h5>Please Choose Your Preferred Data Format</h5>

            <div class="form-group">
                @foreach (var format in DataFormats)
                {
                    <div class="form-check mt-3">
                        <input class="form-check-input" type="radio" asp-for="DataFormat" value="@format" id="data-format-@format" />
                        <label class="form-check-label" for="@format">@format</label>
                    </div>
                }
                <div asp-validation-for="DataFormat" class="text-danger mt-3" id="data-format-error"></div>
            </div>

            <div class="form-group mt-4">
                <button type="button" id="download-data" class="btn btn-primary">Download</button>
            </div>
        </div>
    </div>
</div>