@{
    ViewData["Title"] = "Contact";
}

<h1 class="mb-4">@ViewData["Title"]</h1>

<p>If for any reason you need to get a hold of an admin, please create an issue on
    <a href="https://github.com/kpwags/Where-Do-You-Want-To-Eat-2" title="GitHub Repository">GitHub</a>
    or email us at <a href="mailto:wheredoyouwanttoeat@kpwags.com">wheredoyouwanttoeat@kpwags.com</a>.</p>