@model wheredoyouwanttoeat2.ViewModel.Login
@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-4 mx-auto mt-3">
        <h2 class="mb-3">Login</h2>

        <partial name="_ErrorMessage" model="@Model.ErrorMessage" />

        <form asp-action="Login" class="mt-4">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>