<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (ViewData["Title"] != null && ViewData["Title"].ToString() != "")
    {
            <title>@ViewData["Title"] - Where Do You Want to Eat?</title>
    }
    else
    {
        <title>Where Do You Want to Eat?</title>
    }
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="apple-touch-icon" sizes="57x57" href="~/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="~/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/icons/favicon-16x16.png">
    <link rel="manifest" href="~/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-primary navbar-expand-lg navbar-toggleable-lg border-bottom box-shadow mb-3" style="background-color:#0366d6 !important">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo.png" width="36" height="39" class="d-inline-block align-middle" alt="Where Do You Want to Eat Logo">
                    <span class="pl-2">Where Do You Want to Eat?</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex flex-lg-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="d-none text-center alert alert-info alert-dismissible fade show mb-5" role="alert" id="cookie-popup-alert">
            <p>This site uses cookies to handle user sessions.<br/>To allow us to provide a better experience, please click the "OK" Button. View our <a href="/privacy-policy">Privacy Policy</a>.</p>
            <div>
                <button type="button" class="btn btn-primary" id="dismiss-cookie-popup">OK</button>
            </div>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="float-lg-left">&copy; 2020 Where Do You Want to Eat?</div>
            <div class="float-lg-right">
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li><a href="https://github.com/kpwags/Where-Do-You-Want-To-Eat-2">GitHub</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Terms">Terms</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
