@model wheredoyouwanttoeat2.Models.Restaurant
@{
    ViewData["Title"] = $"Delete {Model.Name}";
}

<div class="row">
    <div class="col-md-6 mx-auto mt-3">
        <h2>Confirm Deletion</h2>
        <p>Are you sure you want to delete @Model.Name</p>

        <form asp-action="DeleteRestaurant" class="mt-4">
            <input type="hidden" asp-for="RestaurantId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>

        <p class="mt-4"><a asp-action="Restaurants">Back to List</a></p>
    </div>
</div>