@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Your privacy is important to us. We have a few fundamental principles:</p>

<ul>
    <li>We limit the personal information we ask you to provide through the operation of the site. We don't collect more than we need.</li>
    <li>We store your perosnal information for only as long as we have a reason to keep it.</li>
    <li>We don't share your information with others.</li>
    <li>We aim for full transparency on how we gather, use and share your personal information.</li>
</ul>


<h2>Who We Are and What This Policy Covers</h2>

<p>We made this little web app to help people decide where to go to eat. So many times, people want to share a meal together but can't always come to a consensus on WHERE to share that meal. That's where this site comes in. This privacy policy applies to the information we collect when you use this site (wheredoyouwanttoeay.xyz).</p>

<h2>Information We Collect</h2>

<p>We only collect information about you if we have a reason to do so — for example, to provide our Services, to communicate with you, or to make our Services better. We collect this information from three sources: the information you provide to us through the various forms on the site, automatically through operating our Services, and from outside sources. Let’s go over the information that we collect.</p>

<h2>Information You Provide to Us</h2>

<p>It’s probably no surprise that we collect information that you provide to us directly. Here are some examples:</p>

<ul>
    <li><strong>Basic account information:</strong> We ask for basic information from you in order to set up your account. For example, we require individuals who wish to use the site to create an account and provide a name, email address and password — and that’s it. You may provide us with more information — like the restaurants you want to choose from, but they're not required for an account to be set up.</li>
    <li><strong>Restaurant Information:</strong> Any restaurants and tags to your account we collect to allow the site to work. The only restaurant information we require is a name. Addresses, websites, & phone numbers are all optional.</li>
</ul>

<h2>Information We Collect Automatically</h2>

<p>We also collect some information automatically:</p>

<ul>
    <li><strong>Log Information:</strong> Like most online service providers, we collect information that web browsers, mobile devices, and servers typically make available, including the browser type, IP address, unique device identifiers, language preference, referring site, the date and time of access, operating system, and mobile network information. We collect log information when you use our Services</li>
    <li><strong>Information from cookies & other technologies:</strong> A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. We use cookies to keep track of your user session (whether or not you are logged in) and to keep track of whether you have seen our cookie popup notification (we recognize it can be annoying so if you've seen it and acknowledge it, we see no reason for you to see it again).</li>
</ul>

<h2>Information We Collect from Other Sources</h2>

<p>We may also get information about you from other sources. For example, we are hosted on Microsoft's Azure Platform and may collect log information through their services.</p>

<h2>How and Why We Use Information</h2>

<h3>Purposes for Using Information</h3>

<p>We use the information provided to run and operate this site. Without you providing a list of restaurants and their information, we would be unable to choose a restaurant for you to go to.</p>

<h3>Legal Bases for Collecting and Using Information</h3>

<p>A note here for those in the European Union about our legal grounds for processing information about you under EU data protection laws, which is that our use of your information is based on the grounds that: (1) The use is necessary in order to fulfill our commitments to you under the applicable terms of service or other agreements with you or is necessary to administer your account — for example, in order to enable access to our website on your device; or (2) The use is necessary for compliance with a legal obligation; or (3) The use is necessary in order to protect your vital interests or those of another person; or (4) We have a legitimate interest in using your information — for example, to provide and update our Services; to improve our Services so that we can offer you an even better user experience; to safeguard our Services; to communicate with you; to measure, gauge, and improve the effectiveness of our advertising; and to understand our user retention and attrition; to monitor and prevent any problems with our Services; and to personalize your experience; or (5) You have given us your consent — for example before we place certain cookies on your device and access and analyze them later on.</p>

<h2>Sharing Information</h2>

<h3>How We Share Information</h3>

<p>We share information about you in limited circumstances, and with appropriate safeguards on your privacy.</p>

<ul>
    <li><strong>Third-party vendors:</strong> We may share information about you with third-party vendors who need the information in order to provide their services to us, or to provide their services to you or your site.</li>
    <li><strong>Legal and regulatory requirements:</strong> We may disclose information about you in response to a subpoena, court order, or other governmental request.</li>
    <li><strong>To protect rights, property, and others:</strong> We may disclose information about you when we believe in good faith that disclosure is reasonably necessary to protect the property or rights of Where Do You Want to Eat, third parties, or the public at large. For example, if we have a good faith belief that there is an imminent danger of death or serious physical injury, we may disclose information related to the emergency without delay.</li>
    <li><strong>Business transfers:</strong> In connection with any merger, sale of company assets, or acquisition of all or a portion of our business by another company, user information would likely be one of the assets that is transferred or acquired by a third party. If any of these events were to happen, this Privacy Policy would continue to apply to your information and the party receiving your information may continue to use your information, but only consistent with this Privacy Policy.</li>
</ul>

<p>We have a long-standing policy that we do not sell our users' data. We aren't a data broker, we don't sell your personal information to data brokers, and we don't sell your information to other companies that want to spam you with marketing emails.</p>

<h2>How Long We Keep Information</h2>

<p>We generally discard information about you when it’s no longer needed for the purposes for which we collect and use it — described in the section above on How and Why We Use Information — and we’re not legally required to keep it. For example, we keep the web server logs that record information about a visitor to our website, like the visitor’s IP address, browser type, and operating system, for approximately 30 days. We retain the logs for this period of time in order to, among other things, analyze traffic and investigate issues if something goes wrong on one of our websites. Your profile information and added restaurants are kept until if and when you delete your account. Once deleted, they may exist on backups temporarily, but will be purged after approximately 30 days.</p>

<h2>Security</h2>

<p>While no online service is 100% secure, we work very hard to protect information about you against unauthorized access, use, alteration, or destruction, and take reasonable measures to do so. We monitor our Services for potential vulnerabilities and attacks.</p>

<h2>Choices</h2>

<p>You have several choices available when it comes to information about you:</p>

<ul>
    <li><strong>Limit the information you provide:</strong> If you have an account with us, we do require you to provide your name, email and password. You don't have to use your real name should you want to keep that private.</li>
    <li><strong>Delete your account:</strong> While we’d be sad to see you go, you can close and delete your account if you no longer want to use our Services. Please keep in mind that we may continue to retain your information after closing your account, as described in How Long We Keep Information above — for example, when that information is reasonably needed to comply with (or demonstrate our compliance with) legal obligations such as law enforcement requests, or reasonably needed for our legitimate business interests.</li>
</ul>

<h2>Your Rights</h2>

<p>If you are located in certain parts of the world, including California and countries that fall under the scope of the European General Data Protection Regulation (aka the “GDPR”), you may have certain rights regarding your personal information, like the right to request access to or deletion of your data.</p>

<h3>European General Data Protection Regulation (GDPR)</h3>

<p>If you are located in a country that falls under the scope of the GDPR, data protection laws give you certain rights with respect to your personal data, subject to any exemptions provided by the law, including the rights to:</p>

<ul>
    <li>Request access to your personal data;</li>
    <li>Request correction or deletion of your personal data;</li>
    <li>Object to our use and processing of your personal data;</li>
    <li>Request that we limit our use and processing of your personal data; and</li>
    <li>Request portability of your personal data.</li>
</ul>

<p>You also have the right to make a complaint to a government supervisory authority.</p>

<h3>California Consumer Privacy Act (CCPA)</h3>

<p>The California Consumer Privacy Act (“CCPA”) requires us to provide California residents with some additional information about the categories of personal information we collect and share, where we get that personal information, and how and why we use it. The CCPA also requires us to provide a list of the “categories” of personal information we collect, as that term is defined in the law, so, here it is. In the last 12 months, we collected the following categories of personal information from California residents, depending on the Services used:</p>

<ul>
    <li>Identifiers (like your name, contact information, and device and online identifiers);</li>
    <li>Internet or other electronic network activity information (such as your usage of our Services);</li>
    <li>Geolocation data (such as your location based on your IP address);</li>
    <li>Audio, electronic, visual or similar information;</li>
    <li>Inferences we make (such as likelihood of retention or attrition).</li>
</ul>

<p>If you are a California resident, you have additional rights under the CCPA, subject to any exemptions provided by the law, including the right to:</p>

<ul>
    <li>Request to know the categories of personal information we collect, the categories of business or commercial purpose for collecting and using it, the categories of sources from which the information came, the categories of third parties we share it with, and the specific pieces of information we collect about you;</li>
    <li>Request deletion of personal information we collect or maintain;</li>
    <li>Opt out of any sale of personal information; and</li>
    <li>Not receive discriminatory treatment for exercising your rights under the CCPA.</li>
</ul>

<h3>Contacting Us About These Rights</h3>

<p>You can usually access, correct, or delete your personal data using your account settings and tools that we offer, but if you aren’t able to or you’d like to contact us about one of the other rights, please visit our <a asp-area="" asp-controller="Home" asp-action="Contact">Contact Page</a>. When you contact us about one of your rights under this section, we’ll need to verify that you are the right person before we disclose or delete anything. For example, if you are a user, we will need you to contact us from the email address associated with your account. You can also designate an authorized agent to make a request on your behalf by giving us written authorization. We may still require you to verify your identity with us.</p>

<h2>Privacy Policy Changes</h2>

<p>Although most changes are likely to be minor, we may change our Privacy Policy from time to time. We encourage visitors to frequently check this page for any changes to the Privacy Policy. Your further use of the Services after a change to our Privacy Policy will be subject to the updated policy.</p>

<p>That’s it! Thanks for reading.</p>

<h2>One More Note</h2>

<p>This privacy policy was modeled after <a href="https://automattic.com/" title="Automattic's Website">Automattic's</a> privacy policy. They were awesome enough to make their Privacy Policy available under a <a href="https://creativecommons.org/licenses/by-sa/4.0/" title="Creative Commons Sharealike">Creative Commons Sharealike</a> license. You, like us, can grab a copy of this Privacy Policy and other legal documents on <a href="https://github.com/Automattic/legalmattic" title="Automattic on GitHub">GitHub</a>. You’re more than welcome to copy it, adapt it, and repurpose it for your own use. Just make sure to revise the language so that your policy reflects your actual practices. If you do use it, we’d appreciate a credit and link to Automattic somewhere on your site.</p>