@{
    ViewData["Title"] = "Terms of Service";
}

<div class="container">
    <h1 class="display-4">Terms of Service</h1>

    <h2 class="mt-5">The Gist</h2>
    <p>We (Where Do You Want to Eat) built this site as a whimsical tool to try to make finding a restaurant a little easier.
        We love developing things and thought this would be a fun little tool to share. These Terms of Service ("Terms") describe our commitments to you as
        well as your rights and responsibilities when using this site.</p>

    <h2>Terms of Service</h2>
    <p>These Terms govern your access to and use of wheredoyouwanttoeat.xyz, as well as all content, products and services available at or through this website.
        Our Services are offered subject to your acceptance, without modification, of all of the terms and conditions contained herein and all other operating rules,
        policies (including, without limitation, our <a asp-area="" asp-controller="Home" asp-action="Privacy">Priva Policy</a>.
        You agree that we may automatically upgrade our Services, and the Agreement will apply to any upgrades. Please read the Agreement carefully before accessing
        or using our Services. By accessing or using any part of our Services, you agree to become bound by the Agreement. If you do not agree to all the terms of
        the Agreement, then you may not access or use our Services.</p>

    <h2>1. Who's Who</h2>
    <p>Throughout these Terms, "you" applies to both individuals and entities that access or use our Services. If you are an individual using our Services on behalf of
        an entity, you represent and warrant that you have the authority to bind that entity to the Agreement and that by using our Service(s), you are accepting the
        Agreement on behalf of that entity.</p>

    <h2>2. Your Account</h2>
    <p>Where use of our Services requires an account, you agree to provide us with complete and accurate information when you register for an account and keep the information
        current. This is important because sometimes we may need to send you notable updates (for example, about changes to our Terms of Service or Privacy Policy), or we may
        want to let you know about and make informed choices in response to legal inquiries or complaints.</p>
    <p>You will be solely responsible and liable for any activity that occurs under your account. You are responsible for keeping your account information up-to-date and for
        keeping your password secure.</p>
    <p>You are responsible for maintaining the security of your account and any Service-related website, store, or other content, and you are fully responsible for all
        activities that occur under your account and any other actions taken in connection with our Services. You shall not share or misuse your access credentials. You must
        immediately notify us of any unauthorized uses of your account, store, or website, or of any other breach of security. We will not be liable for any acts or omissions
        by you, including any damages of any kind incurred as a result of such acts or omissions.</p>
    <p>When you create a wheredoyouwanttoeat.xyz account, we consider that to be an inquiry about our products and services, which means that we may contact you to share more
        details about what we have to offer. Don't worry -- if you aren't interested in learning more, you can opt out of the marketing communication, whether it's an email, phone
        call, or text message.</p>

    <h2>3. Minimum Age Requirements</h2>
    <p>Our Services are not directed to children. Access to and use of our Services is only for those over the age of 13 (or 16 in the European Union). If you are younger than this,
        you may not register for or use our Services. Any person who registers as a user or provides their personal information to our Services represents that they are 13 years
        of age or older (or 16 years or older in the European Union).</p>

    <h2>4. Responsibility of Visitors and Users</h2>
    <p>We have not reviewed, and cannot review, all of the content (such as, but not limited to, text, photo, video, audio, or other materials) posted to our Services by users or
        anyone else ("Content") and are not responsible for any use or effects of such Content. So, for example:</p>

    <ul>
        <li>We do not endorse any Content or represent that Content is accurate, useful, or non-harmful. Content could be offensive, indecent, or objectionable; include technical
            inaccuracies, typographical mistakes, or other errors; or violate or infringe the privacy, publicity rights, intellectual property rights, or other proprietary rights
            of third parties.</li>
        <li>If you post Content or otherwise make (or allow any third party to make) Content available on our Services, you are entirely responsible for the Content, and any harm
            resulting from, that Content or your conduct.</li>
        <li>We disclaim any responsibility for any harm resulting from anyone’s use, purchase, or downloading of Content. If you access or use any Content, you are responsible
            for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content.</li>
        <li>Please note that additional third party terms and conditions may apply to the downloading, copying, purchase, or use of Content.</li>
    </ul>

    <p>We also have not reviewed, and cannot review, all of the material, including computer software, made available through the websites and web pages that link to, or are
        linked from wheredoyouwanttoeat.xyz. For example:</p>

    <ul>
        <li>We do not have any control over those websites and are not responsible for their contents or their use.</li>
        <li>The existence of a link to or from one of our Services does not represent or imply that we endorse such website.</li>
        <li>You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful
            or destructive content.</li>
        <li>We disclaim any responsibility for any harm resulting from any other website.</li>
    </ul>

    <h2>5. General Representation and Warranty</h2>
    <p>You represent and warrant that your use of our Services:</p>

    <ul>
        <li>Will be in strict accordance with these Terms;</li>
        <li>Will comply with all applicable laws and regulations (including, without limitation, all applicable laws regarding online conduct and acceptable content, privacy,
            data protection, the transmission of technical data exported from the United States or the country in which you reside, the use of financial services, notification
            and consumer protection, unfair competition, and false advertising);</li>
        <li>Will not use the Services for any unlawful purposes, to publish illegal content, or in furtherance of illegal activities;</li>
        <li>Will not infringe or misappropriate the intellectual property rights of any third party;</li>
        <li>Will not overburden wheredoyouwanttoeat.xyz's systems, as determined by us in our sole discretion;</li>
        <li>Will not disclose sensitive personal information of others;</li>
        <li>Will not be used to send spam or bulk unsolicited messages;</li>
        <li>Will not interfere with, disrupt, or attack any service or network; and</li>
        <li>Will not be used to create, distribute, or enable material that is - or that facilitates or operates in conjunction with - malware, spyware, adware, or other
            malicious programs or code.</li>
    </ul>

    <h2>6. Copyright Infringement and DMCA Policy</h2>
    <p>As we ask others to respect our intellectual property rights, we respect the intellectual property rights of others. If you believe that material located on or
        associated with wheredoyouwantteat.xyz violates your copyright, please notify us (you can use our <a asp-area="" asp-controller="Home" asp-action="Contact">Contact Page</a>.
        We will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material. We will terminate a visitor’s
        access to and use of the website if, under appropriate circumstances, the visitor is determined to be a repeat infringer of the copyrights or other intellectual property rights. In the case
        of such termination, we will have no obligation to provide a refund of any amounts previously paid to us.</p>

    <h2>7. Intellectual Property</h2>
    <p>The Agreement does not transfer from wheredoyouwantteat.xyz to you any wheredoyouwantteat.xyz or third party intellectual property, and all right, title, and interest in and to such
        property will remain (as between the parties) solely with wheredoyouwantteat.xyz. Wheredoyouwantteat.xyz, and all other trademarks, service marks, graphics, and logos used in
        connection with wheredoyouwantteat.xyz or our Services, are trademarks or registered trademarks of wheredoyouwantteat.xyz or wheredoyouwantteat.xyz's licensors. Other trademarks,
        service marks, graphics, and logos used in connection with our Services may be the trademarks of other third parties. Your use of our Services grants you no right or license to
        reproduce or otherwise use any wheredoyouwantteat.xyz or third party trademarks.</p>

    <h2>8. Changes</h2>
    <p>We are constantly updating our Services and that means sometimes we have to change the legal terms under which our Services are offered. These Terms may only be modified by a written
        amendment signed by an authorized executive of wheredoyouwantteat.xyz, or by the posting by wheredoyouwantteat.xyz of a revised version. If we make changes that are material, we will
        let you know by sending you an email or other communication before the changes take effect. The notice will designate a reasonable period of time after which the new terms will take
        effect. If you disagree with our changes, then you should stop using our Services within the designated notice period, or once the changes become effective. Your continued use of our
        Services will be subject to the new terms. However, any dispute that arose before the changes shall be governed by the Terms (including the binding individual arbitration clause) that
        were in place when the dispute arose.</p>

    <h2>9. Termination</h2>
    <p>We may terminate your access to all or any part of our Services at any time, with or without cause, with or without notice, effective immediately. We have the right (though not the obligation)
        to, in our sole discretion, (i) reclaim your username  due to prolonged inactivity, (ii) refuse or remove any content that, in our reasonable opinion, violates any wheredoyouwantteat.xyz policy
        or is in any way harmful or objectionable, (iii) ask you to make some adjustments or terminate your Services, if we believe your bandwidth usage is out of hand and/or burdens our systems
        (which is rare), or (iv) terminate or deny access to and use of any of our Services to any individual or entity for any reason. We will have no obligation to provide a refund of any amounts
        previously paid.</p>
    <p>If you wish to terminate the Agreement or your wheredoyouwantteat.xyz account, you may simply discontinue using our Services, or delete your account.</p>
    <p>All provisions of the Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers,
        indemnity, and limitations of liability.</p>

    <h2>10. Disclaimer of Warranties</h2>
    <p>Our Services are provided "as is." wheredoyouwantteat.xyz and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation,
        the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither wheredoyouwantteat.xyz, nor its suppliers and licensors, makes any warranty that our
        Services will be error free or that access thereto will be continuous or uninterrupted. You understand that you download from, or otherwise obtain content or services through, our
        Services at your own discretion and risk.</p>

    <h2>11. Jurisdiction and Applicable Law.</h2>
    <p>Except to the extent any applicable law provides otherwise, the Agreement and any access to or use of our Services will be governed by the laws of the state of Pennsylvania, U.S.A.,
        excluding its conflict of law provisions. The proper venue for any disputes arising out of or relating to the Agreement and any access to or use of our Services will be the state and
        federal courts located in Montgomery County, Pennsylvania.</p>

    <h2>12. Limitation of Liability</h2>
    <p>In no event will wheredoyouwantteat.xyz, or its suppliers, partners, or licensors, be liable with respect to any subject matter of the Agreement under any contract, negligence, strict
        liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for
        interruption of use or loss or corruption of data. wheredoyouwantteat.xyz shall have no liability for any failure or delay due to matters beyond their reasonable control. The
        foregoing shall not apply to the extent prohibited by applicable law.</p>

    <h2>13. Indemnification</h2>
    <p>You agree to indemnify and hold harmless wheredoyouwantteat.xyz, its contractors, and its licensors, and their respective directors, officers, employees, and agents from and against
        any and all losses, liabilities, demands, damages, costs, claims, and expenses, including attorneys’ fees, arising out of or related to your use of our Services, including but not
        limited to your violation of the Agreement or any agreement with a provider of third-party services used in connection with the Services, Content that you post, and any ecommerce
        activities conducted through your or another user’s website.</p>

    <h2>14. US Economic Sanctions</h2>
    <p>You expressly represent and warrant that your use of our Services and/or associated services and products is not contrary to applicable U.S. Sanctions. Such use is prohibited, and we
        reserve the right to terminate accounts or access of those in the event of a breach of this condition.</p>

    <h2>15. Miscellaneous</h2>
    <p>The Agreement constitutes the entire agreement between wheredoyouwantteat.xyz and you concerning the subject matter hereof. If any part of the Agreement is held invalid or unenforceable,
        that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition
        of the Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. You may assign your rights under the Agreement to
        any party that consents to, and agrees to be bound by, its terms and conditions; wheredoyouwantteat.xyz may assign its rights under the Agreement without condition. The Agreement will
        be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.</p>

    <h2>16. One More Note</h2>
    <p>These terms of use were modeled after <a href="https://automattic.com/" title="Automattic's Website">Automattic's</a> terms of service. They were awesome enough to make their terms
        available under a <a href="https://creativecommons.org/licenses/by-sa/4.0/" title="Creative Commons Sharealike">Creative Commons Sharealike</a> license. You, like us, can grab a copy
        of this terms of service and other legal documents on <a href="https://github.com/Automattic/legalmattic" title="Automattic on GitHub">GitHub</a>. You’re more than welcome to copy it,
        adapt it, and repurpose it for your own use. Just make sure to revise the language so that your terms of use reflects your actual practices. If you do use it, they'd appreciate a
        credit and link to Automattic somewhere on your site.</p>
</div>